Repository thewlabs/ts-reset, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, configuration, source, tooling, ci/cd, dependencies, tests, bug, enhancement, breaking-change

.github/labeler.yml:

documentation:
  - "**/*.md"
  - "docs/**/*"

configuration:
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - ".github/**/*"
  - "tsconfig*.json"
  - "turbo.json"

source:
  - "src/**/*"

tooling:
  - "scripts/**/*"

ci/cd:
  - ".github/workflows/**/*"

dependencies:
  - "package.json"
  - "pnpm-lock.yaml"

tests:
  - "src/tests/**/*"
  - "**/*.test.*"
  - "**/*.spec.*"

bug:
  - any: ['bug', 'fix', 'issue']

enhancement:
  - any: ['feat', 'feature', 'enhancement', 'improve']

breaking-change:
  - any: ['breaking', 'major']

chore: add issue templates for bug reports and feature requests
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: configuration

chore: enhance CI workflows with linting, testing, and security checks
  .github/workflows/main.yml
  .github/workflows/manual-release.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
Labels: configuration, ci/cd

chore: add comprehensive CI/CD workflow documentation
  docs/ci-cd.md
Labels: documentation

chore: add CI-CD setup checklist to documentation
  TODO.md
Labels: documentation

chore: update workflow commands to use 'pnpm run' for consistency
  .github/workflows/main.yml
  .github/workflows/manual-release.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
Labels: configuration, ci/cd
